.navbar{  width:100%;
     background-color:blue;
     display:flex;
      flex-wrap:wrap;
     		animation-name:disp;
		animation-duration:5s;
		position:relative;
		animation-iteration-count:infinite;

}
@keyframes disp{
	from{background-color:#90EE90;}
	to{background-color:pink;}
}

.navbox{width:170px;
        height:46px;
	    border-radius:8px; 
		margin-left:15px;
		border:2px double black;
			box-shadow:inset 0px 4px 10px 5px  pink;
       }
.navbox:hover{width:170px;
        height:46px;
	    border-radius:8px; 
		margin-left:15px;
		background-color:#CDDC39;
		border:2px double black;
			box-shadow:inset 0px 4px 10px 5px #673AB7;
       }
.btndiv{
    display:flex;
    margin-left:13px;
    margin-top:13px;
	background-color:rad;
	background-image: url('https://i.pinimg.com/736x/2b/8d/ab/2b8dabe1b95c468c4e163a1e85c15391.jpg');
}
.btn{
	width:300px;
	height:60px;
	border:1px double red;
	background-color:#2431bf;
	border-radius:8px;
	box-shadow:20px 20px 10px 5px purple;
	box-shadow:inset 0px 4px 10px 5px white;
	margin-bottom:20px;	
	margin-left:20px;	
	font-size:20px;
	font-weight:bold;
	color:#24bf46;
	cursor:pointer;
}
.btn:hover{
	width:300px;
	height:60px;
	border:1px double purple;
	background-color:#29bf24;
	border-radius:8px;
	box-shadow:0px 4px 10px 5px purple;
	box-shadow:inset 0px 4px 10px 5px white;
	margin-bottom:20px;	
	margin-left:20px;	
	font-size:20px;
	font-weight:bold;
	color:red;
	cursor:pointer;
}

.box{width:100%;
    margin-left:13px;
    margin-top:13px;
	alignment:center;
	background-color:yellow;
	animation-name:btn;
	position:relative;
	animation-duration:50s;
	animation-iteration-count:infinite;
}
@keyframes btn{
	from{background-color:white;}
	to{background-color:rgba(1, 153, 180);}
}




.subheadinghtml{
	width:100%;
	display:flex;
	flex-wrap:wrap;
	
background-color:red;
font-size:26px;
     		animation-name:body;
		animation-duration:30s;
		position:relative;
		animation-iteration-count:infinite;

}
@keyframes body{
	from{background-color:#4CAF50;}
	to{background-color:#CDDC39;}
}



