
.buttonbox{
	width:100%;
	display:flex;
	flex-wrap:wrap;
	background-color:#849701;

}

.button{
	width:400px;
	height:100px;
	border:6px double purple;
	background-color:rgba(1, 153, 180);
	border-radius:14px;
	box-shadow:inset 0px 4px 10px 5px black;
	margin-bottom:50px;	
		margin-left:250px;	
			margin-top:30px;
margin-right:0px;			
	font-size:25px;
	font-weight:bold;
	
	cursor:pointer;
}

.button:hover{
	width:400px;
	height:100px;
	border:6px double purple;
	background-color:rgba(1, 153, 180);
	border-radius:14px;
	box-shadow:0px 4px 10px 5px yellow;
	margin-bottom:50px;	
		margin-left:250px;	
			margin-top:30px;
margin-right:0px;			
	font-size:25px;
	font-weight:bold;
	
	cursor:pointer;
}