
.buttonbox{
	width:100%;
	display:flex;
	flex-wrap:wrap;
	background-color:#849701;
	background-image:url(""C:\Users\rammo\OneDrive\HTML\project byHTML,CSS,js\IMG-20251116-WA0025.jpg"");
     		animation-name:disp;
		animation-duration:5s;
		position:relative;
		animation-iteration-count:infinite;

}
@keyframes disp{
	from{background-color:#90EE90;}
	to{background-color:pink;}
}

.button{
	width:400px;
	height:100px;
	border:6px double purple;
	background-color:rgba(1, 153, 180);
	border-radius:14px;
	box-shadow:inset 0px 4px 10px 5px black;
	margin-bottom:50px;	
		margin-left:250px;	
			margin-top:30px;
margin-right:0px;			
	font-size:25px;
	font-weight:bold;
	
	cursor:pointer;
}

.button:hover{
	width:400px;
	height:100px;
	border:6px double purple;
	background-color:rgba(1, 153, 180);
	border-radius:14px;
	box-shadow:0px 4px 10px 5px yellow;
	margin-bottom:50px;	
		margin-left:250px;	
			margin-top:30px;
margin-right:0px;			
	font-size:25px;
	font-weight:bold;
	
	cursor:pointer;
}