.balkand{
	width:100%px;
	height:1500px;
    display:flex;
    margin:auto;
    background-color:#849701;}
	
.buttonbox{
	width:1320px;
    min-height:900px;
    max-height:1600px;

	background-color:#849701;

	background-color:red;

}

.button{
	width:350px;
	height:100px;
	border:1px double purple;
	background-color:rgba(1, 153, 180);
	border-radius:8px;
	box-shadow:0px 4px 10px 5px purple;
	box-shadow:inset 0px 4px 10px 5px white;
	margin-bottom:50px;	
		margin-left:50px;	
			margin-top:30px;
margin-right:0px;			
	font-size:25px;
	font-weight:bold;
	
	cursor:pointer;
}