
.buttonbox{
	width:100%;
   display:flex;
   flex-wrap:wrap;
	background-color:red;
     		animation-name:disp;
		animation-duration:5s;
		position:relative;
		animation-iteration-count:infinite;
}
@keyframes disp{
	from{background-color:#90EE90;}
	to{background-color:pink;}
}

.button{
	width:400px;
	height:110px;
	border:6px grid blue;
	background-color:rgba(1, 153, 180);
	border-radius:8px;
	box-shadow:0px 4px 10px 5px blue;

	margin-bottom:50px;
	margin-top:30px;
	margin-left:150px;
	font-size:30px;
	font-weight:bold;
	
	cursor:pointer;
}
.button:hover{
	width:400px;
	height:120px;
	border:6px double blue;
	background-color:rgba(1, 153, 180);
	border-radius:8px;
	box-shadow:0px 4px 10px 5px white;

	margin-bottom:50px;
	margin-top:30px;
	margin-left:150px;
	font-size:30px;
	font-weight:bold;
	
	cursor:pointer;
}