.balkand{
	margin:0px;
	padding:0px;
	width:100%;
	height:1000px;
    display:flex;
    margin:center;
    background-color:#849701;}
	
.buttonbox{
	width:1320px;
    min-height:900px;
    max-height:1600px;

	background-color:#849701;

	background-color:red;
}

.button{
	width:400px;
	height:110px;
	border:6px grid blue;
	background-color:rgba(1, 153, 180);
	border-radius:8px;
	box-shadow:0px 4px 10px 5px blue;

	margin-bottom:50px;
	margin-top:30px;
	margin-left:30px;
	font-size:30px;
	font-weight:bold;
	
	cursor:pointer;
}