.balkand{
	margin:0px;
	padding:0px;
	width:100%;
	height:1500px;
    display:flex;
    margin:auto;
    background-color:#849701;
	
	background-repeat:no-repeat;
	background-image:url('https://i.scdn.co/image/ab67616d00001e023ecca2ddc4f99350e4341e5f');
	background-size:cover;}
	
.buttonbox{
	width:1320px;
    min-height:900px;
    max-height:1600px;

	background-color:#849701;

	background-color:red;

.button{
	width:500px;
	height:100px;
	border:4px double red;
	background-color:#eb13b1;
	border-radius:10px;
	box-shadow:6px 4px 10px 5px purple;
	box-shadow:inset 0px 4px 10px 5px blue;
	margin-bottom:30px;	
		margin-top:50px;
			margin-left:20px;
	font-size:35px;
	font-weight:bold;
	
	cursor:pointer;
}