
	
.buttonbox{
	width:100%;
	background-color:#849701;
	background-color:red;

.button{
	width:500px;
	height:100px;
	border:4px double red;
	background-color:#eb13b1;
	border-radius:10px;
	box-shadow:6px 4px 10px 5px purple;
	box-shadow:inset 0px 4px 10px 5px blue;
	margin-bottom:30px;	
		margin-top:50px;
			margin-left:50px;
	font-size:35px;
	font-weight:bold;
	
	cursor:pointer;
}