.balkand{
	margin:0px;
	padding:0px;
	width:1320px;
	height:1000px;
    display:flex;
    margin:center;
    background-color:#849701;}
	
.buttonbox{
	width:300px;
    height:800px;
    display:flext;
    margin:auto;
	margin-top:50px;
}

.button{
	width:300px;
	height:50px;
	border:1px double purple;
	background-color:rgba(1, 153, 180);
	border-radius:8px;
	box-shadow:0px 4px 10px 5px purple;
	box-shadow:inset 0px 4px 10px 5px white;
	margin-bottom:50px;	
	font-size:20px;
	font-weight:bold;
	
	cursor:pointer;
}