
.buttonbox{
	width:100%;
	display:flex;
	flex-wrap:wrap;
	margin:auto;
	font-size:30;
background-image:url("C:\\Users\\rammo\\OneDrive\\HTML\\project byHTML,CSS,js\\kand.jpg");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
	background-color:#849701;
     		animation-name:disp;
		animation-duration:5s;
		position:relative;
		animation-iteration-count:infinite;

}
@keyframes disp{
	from{background-color:#90EE90;}
	to{background-color:pink;}
}
.button{
	width:500px;
	height:120px;
	border:4px double red;
	background-color:#87CEEB;
	border-radius:10px;
	box-shadow:6px 4px 10px 5px purple;
	box-shadow:inset 0px 4px 10px 5px blue;
	margin:auto;	
	margin-bottom:25px;
	font-size:35px;
	font-weight:bold;
	
	cursor:pointer;
}

.button:hover{
	width:500px;
	height:120px;
	border:4px double black;
	background-color:blue;
	border-radius:10px;
	box-shadow:6px 4px 10px 5px purple;
	margin:auto;	
	margin-bottom:25px;
	font-size:35px;
	font-weight:bold;
	
	cursor:pointer;
}