.main{
	margin:0px;
	padding:0px;	
	width:100%;
	height:1200px;
    display:flex;
    margin:center;
    background-color:#849701;}
	
.buttonbox{
	width:300px;
    height:500px;
    display:flext;
    margin:center;

}

.button{
	width:300px;
	height:80px;
	display:block;
	border:5px double purple;
	background-color:rgba(1, 153, 180);
	border-radius:8px;
	box-shadow:10px 10px 18px 5px purple;
	box-shadow:inset 0px 4px 10px 5px blue;
	margin-top:20px;	
	margin-bottom:50px;
	margin-left:400px;	
	font-size:30px;
	font-weight:bold;
	
	cursor:pointer;
}
.button:hover{
	width:300px;
	height:80px;
	border:5px double purple;
	background-color:rgba(1, 153, 180);
	border-radius:8px;
	box-shadow:10px 10px 18px 5px #1bf514;
	box-shadow:inset 0px 4px 10px 5px #d417b1;
	margin-top:20px;	
	margin-bottom:40px;
	margin-left:400px;
	
	font-size:20px;
	font-weight:bold;
	
	cursor:pointer;
}