
.buttonbox{
	width:100%;
    display:flex;
	flex-wrap:wrap;
    margin:auto;
	margin-top:50px;
	background-color:red;
}

.button{
	width:400px;
	height:100px;
	border:6px double purple;
	background-color:rgba(1, 153, 180);
	border-radius:12px;
	box-shadow:0px 4px 10px 5px purple;
	box-shadow:inset 0px 4px 10px 5px white;
	margin-bottom:30px;
	margin-top:30px;
	margin-left:150px;
	font-size:30px;
	font-weight:bold;
	
	cursor:pointer;
}
.button:hover{
	width:395px;
	height:98px;
	border:6px double purple;
	background-color:rgba(1, 153, 180);
	border-radius:12px;
	box-shadow:0px 4px 10px 5px purple;
	margin-bottom:30px;
	margin-top:30px;
	margin-left:150px;
	font-size:30px;
	font-weight:bold;
	
	cursor:pointer;
}