
.buttonbox{
	width:100%;
    display:flex;
	flex-wrap:wrap;
	background-color:yellow;
    margin:auto;
     		animation-name:disp;
		animation-duration:5s;
		position:relative;
		animation-iteration-count:infinite;

}
@keyframes disp{
	from{background-color:#90EE90;}
	to{background-color:pink;}
}

.button{
	width:400px;
	height:100px;
	border:10px grid purple;
	background-color:#FF9933;
	border-radius:10px;
	box-shadow:3px 4px 10px 5px purple;
		text-shadow:0px 0px 0px black,
	            1px 1px 0px black,
				2px 2px 0px white,
				3px 3px 0px black,
				4px 4px 2px yellow;
	margin-bottom:50px;	
	margin-top:50px;
	margin-right:30px;
	margin-left:150px;
	font-size:50px;
	font-weight:bold;
	
	cursor:pointer;
}
.button2{
	width:400px;
	height:100px;
	border:10px grid purple;
	background-color:#FFFFFFF;
	border-radius:10px;
	box-shadow:3px 4px 10px 5px purple;inset 0px 4px 10px 5px black;
	margin-bottom:50px;	
		text-shadow:0px 0px 0px black,
	            1px 1px 0px black,
				2px 2px 0px white,
				3px 3px 0px black,
				4px 4px 2px yellow;
	margin-top:50px;
	margin-right:30px;
	margin-left:150px;
	font-size:50px;
	font-weight:bold;
	
	cursor:pointer;
}

.button3{
	width:400px;
	height:100px;
	border:10px grid purple;
	background-color:#138808;
	border-radius:10px;
	box-shadow:3px 4px 10px 5px purple;
		text-shadow:0px 0px 0px black,
	            1px 1px 0px black,
				2px 2px 0px white,
				3px 3px 0px black,
				4px 4px 2px yellow;
	margin-bottom:50px;	
	margin-top:50px;
	margin-right:30px;
	margin-left:150px;
	font-size:50px;
	font-weight:bold;
	
	cursor:pointer;
}