.main{
	margin:30px;
	padding:20px;
	max-width:1320px;
	min-width:700px;
	height:80%;
    display:flex;
    margin:auto;
    background-color:#849701;

	background-size:cover;
	background-repeat:no-repeat;}
	
.buttonbox{
	width:1320px;
    height:700px;
	background-color:yellow;
    margin:auto;
}

.button{
	width:400px;
	height:70px;
	border:10px grid purple;
	background-color:green;
	border-radius:10px;
	box-shadow:3px 4px 10px 5px purple;inset 0px 4px 10px 5px black;
	margin-bottom:50px;	
	margin-top:20px;
	margin-right:50px;
	margin-left:50px;
	font-size:30px;
	font-weight:bold;
	
	cursor:pointer;
}