.main{
	padding:0px;
	margin:0px;
}
.fullpage{
	width:1320px;
	height:1000px;
display:flex;
margin:auto;
background-color:#2b5d8c;}
.box{
width:1320px;
height:1000px;
border-left:2px solid red;
border-right:2px solid #15ed27;
border-top:2px solid #ed1548;
border-bottom:2px solid red;
background-color:red;
display:flex;
margin:auto;
}
.buttonbox{
	min-width:180px;
	max-width:1200;
    height:800px;
    display:flext;
    margin:auto;
	alignment:center;
	background-color:yellow;
}

.button{
	min-width:200px;
	max-width:1000px;
	height:50px;
	border:1px double purple;
	background-color:rgba(1, 153, 180);
	border-radius:8px;
	box-shadow:0px 4px 10px 5px purple;
	margin-bottom:40px;
	margin-left:300px;
	margin-right:300px;
	margin-top:50px;	
	font-size:20px;
	font-weight:bold;
	
	cursor:pointer;
}

.quizzbtn{
	max-width:1320px;
min-width:200px;
height:500px;
border-left:2px solid red;
border-right:2px solid #15ed27;
border-top:2px solid #ed1548;
border-bottom:2px solid red;
display:flex;
background-color:red;}
	
.quizesbody{
border-left:2px solid red;
border-right:2px solid #15ed27;
border-top:2px solid #ed1548;
border-bottom:2px solid yellow;
display:flex;
margin:auto;
background-color:red;}

.quizesbox{
	width:300px;
	height:400px;
border-left:2px solid red;
border-right:2px solid #15ed27;
border-top:2px solid #ed1548;
border-bottom:2px solid yellow;
margin:auto;
background-color:blue;}
.heading{
	width:300px;
	height:50px;
}
.option{
height:50px;
border:2px solid black;}
.nextbtn{
	display:flex;
	margin-left:center;
	width:300px;
    height:30px;}