.mainbox{
	width:85%;
	display:flex;
	flex-wrap:wrap;
	margin:auto;
	font-size:30;
background-image:url("C:\\Users\\rammo\\OneDrive\\HTML\\project byHTML,CSS,js\\kand.jpg");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}
.imagesbox{
		width:85%;
		height:500px;
	display:flex;
	flex-wrap:wrap;
	margin:auto;
	font-size:60;
	color:red;
	align-items:center;
	text-shadow:0px 0px 0px blue,
	            1px 1px 4px red,
				2px 2px 4px yellow,
				4px 4px 0px green;
	justify-content:center;
background-size:cover;
background-position:center;
background-repeat:no-repeat;
letter-spacing:5px;
animation-name:im;
animation-duration:120s;
animation-iteration-count:infinite;
  }
  @keyframes im{
	   0%{width:85%;font-size:40px;color:yellow;background-image:url("C:\\Users\\rammo\\OneDrive\\HTML\\project byHTML,CSS,js\\changeim9.jpg");background-size:cover;background-position:center;}
	  14%{width:85%;background-image:url("C:\\Users\\rammo\\OneDrive\\HTML\\project byHTML,CSS,js\\kand.jpg"); background-size:cover;background-position:center;}
	  20%{width:85%; color:purple;background-image:url("C:\\Users\\rammo\\OneDrive\\HTML\\project byHTML,CSS,js\\changeim1.jpg");background-size:cover;background-position:center;}
	  35%{width:75%;background-image:url("C:\\Users\\rammo\\OneDrive\\HTML\\project byHTML,CSS,js\\changeim2.jpg");background-size:cover;background-position:center;}
	  45%{width:85%;font-size:60px;background-image:url("C:\\Users\\rammo\\OneDrive\\HTML\\project byHTML,CSS,js\\changeim3.jpg");background-size:cover;background-position:center;}
	  55%{width:75%;font-size:70px;color:blue;background-image:url("C:\\Users\\rammo\\OneDrive\\HTML\\project byHTML,CSS,js\\changeim4.jpg");background-size:cover;}
	  65%{width:85%; background-image:url("C:\\Users\\rammo\\OneDrive\\HTML\\project byHTML,CSS,js\\changeim5.jpg");background-size:cover;background-position:center;}
	  75%{width:70%;color:yellow;font-size:80px;background-image:url("C:\\Users\\rammo\\OneDrive\\HTML\\project byHTML,CSS,js\\changeim6.jpg");background-size:cover;background-position:center;}
	  85%{width:85%;color:green;background-image:url("C:\\Users\\rammo\\OneDrive\\HTML\\project byHTML,CSS,js\\changeim7.jpg");background-size:cover;background-position:center;}
	  95%{width:70%;color:red;font-size:90px;background-image:url("C:\\Users\\rammo\\OneDrive\\HTML\\project byHTML,CSS,js\\changeim8.jpg");background-size:cover;background-position:center;}
	  100%{width:85%;color:red;font-size:100px;background-image:url("C:\\Users\\rammo\\OneDrive\\HTML\\project byHTML,CSS,js\\changeim9.jpg");background-size:cover;background-position:center;}
  }
.buttonbox{
	width:85%;
		margin:auto;
	display:flex;
	flex-wrap:wrap;
	background-image:url("C:\\Users\\rammo\\OneDrive\\HTML\\project byHTML,CSS,js\\kand.jpg");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
	background-color:#90EE90;
	box-shadow:inset 0px 0px 30px 28px black;
		animation-name:disp;
		animation-duration:5s;
		position:relative;
		animation-iteration-count:infinite;

}
@keyframes disp{
	from{background-color:#90EE90;}
	to{background-color:pink;}
}

.upperdiv{
		width:85%;
    text-transform:uppercase;
	letter-spacing:13px;
	word-spacing:10px;
	background-image:url("C:\\Users\\rammo\\OneDrive\\HTML\\project byHTML,CSS,js\\kand.jpg");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
	text-decoration:underline;
	text-shadow:0px 0px 0px blue,
	            1px 1px 0px blue,
				2px 2px 0px yellow;
	display:flex;
	flex-wrap:wrap;
    background-color:#ADD8E6;
    font-size:27px;}

.f{
	margin:4px;
	width:700px;
	display:flex;
	flex-wrap:wrap;
	background-color:green;
	letter-spacing:0px;
	word-spacing:0px;
	font-size:22px;
	box-shadow:inset 1px 0px 5px 3px white;
	text-shadow:0px 0px 0px white,
	            1px 1px 0px black,
				2px 2px 0px yellow;
text-transform:uppercase;
font-weight:bolder;
color:white;
animation-name:pa;
animation-duration:20s;
position:relative;
animation-iteration-count:infinite;
}



.paragraph{
		animation-name:para;
		animation-duration:20s;
		position:relative;
		animation-iteration-count:infinite;
		color:purple;
		font-size:20px;

}
@keyframes para{
	from{color:black;}
	to{color:red;}
}



.disclaimerbox{
	margin:0px;
	padding:0px;
    width:100%;
	height:100%;
	display:flex;
	flex-wrap:wrap;
	background-color:black;
}
  
  
.disclaimerbox1{
	margin:0px;
	padding:0px;
    width:100%;
	height:100%;
	float:right;
	margin:auto;
	background-color: #dcdc3d;
	box-shadow: 3px 10px 12px 4px pink;
}
.disclaimerbox2{
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	margin:auto;
    box-shadow: 2px 10px 20px 4px blue;
	background-color:#86dcc5;
}
.button{
	width:240px;
	height:210px;

	background-color:#FF9933;
	border-radius:25%;
	box-shadow:0px 4px 10px 5px  black;
	transform:rotateX(30deg) rotateY(30);
	text-shadow:0px 0px 0px white,
	            1px 1px 0px white,
				2px 2px 0px white,
				3px 3px 0px black;	
	font-size:25px;
	font-weight:bold;
margin:auto;
margin-bottom:30px;
margin-left:30px;
	cursor:pointer;
}
#button1{
background-image:url("C:\\Users\\rammo\\OneDrive\\HTML\\project byHTML,CSS,js\\what is ramayan.jpg");
background-size:cover;
background-position:center;
background-repeat:no-repeat;}
#button2{
background-image:url("C:\\Users\\rammo\\OneDrive\\HTML\\project byHTML,CSS,js\\learnabout ramayan.jpg");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
font-size:23px;}
#button3{
background-image:url("C:\\Users\\rammo\\OneDrive\\HTML\\project byHTML,CSS,js\\kand.jpg");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
font-size:28px;}
#button4{
background-image:url("C:\\Users\\rammo\\OneDrive\\HTML\\project byHTML,CSS,js\\quizzes.jpg");
background-size:cover;
background-position:center;
background-repeat:no-repeat;}
#button5{
background-image:url("C:\\Users\\rammo\\OneDrive\\HTML\\project byHTML,CSS,js\\indian culture.jpg");
background-size:cover;
background-position:center;
background-repeat:no-repeat;}
#button6{
background-image:url("C:\\Users\\rammo\\OneDrive\\HTML\\project byHTML,CSS,js\\princepleoflife.jpg");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
font-size:23px;}
#button7{
background-image:url("C:\\Users\\rammo\\OneDrive\\HTML\\project byHTML,CSS,js\\what is ramayan.jpg");
background-size:cover;
background-position:center;
background-repeat:no-repeat;}
.button:hover{
	width:240px;
	height:210px;
	border:7px double #0bfc03;
	background-color:#ADD8E6;
	border-radius:20px;
	box-shadow:5px 6px 10px 5px red;
	
	font-size:25px;
	font-weight:bold;
	margin:auto;
    margin-bottom:30px;
	margin-left:30px;
	cursor:pointer;
	
	animation-name:btn;
	animation-duration:2s;
	position:relative;
	animation-iteration-count:infinite;
}
@keyframes btn{
	from{background-color:#ADD8E6;}
	to{background-color:#FF9933;}
	}

.quizzbtn{
	max-width:1320px;
min-width:200px;
height:500px;
border-left:7px solid red;
border-right:7px solid #15ed27;
border-top:7px solid #ed1548;
border-bottom:7px solid red;
display:flex;
background-color:red;}
	
.quizesbody{
border-left:2px solid red;
border-right:2px solid #15ed27;
border-top:2px solid #ed1548;
border-bottom:2px solid yellow;
display:flex;
margin:auto;
background-color:red;
background-image:url('https://www.kidsgen.com/quiz/images/the-ramayana-quiz.jpg');
background-size:cover;
}

.quizesbox{
	width:800px;
	height:600px;
	font-weight:35px;
	font-size:30px;
border-left:7px solid red;
border-right:7px solid #15ed27;
border-top:8px solid #ed1548;
border-bottom:8px solid yellow;
	box-shadow:20px 20px 10px 5px white;
	box-shadow:inset 0px 4px 20px 5px blue;
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6HRdIAVOlIsMyyje0MAxeeNP-VpgJGLEG5A&s');
background-size:cover;
color:white;
margin:auto;
background-color:green;}
.heading{
	width:300px;
	height:50px;
}
.option{
height:50px;
border:2px solid black;}
.nextbtn{
	width:300px;
	height:60px;
	border:1px double red;
	background-color:#2431bf;
	border-radius:8px;
	box-shadow:20px 20px 10px 5px purple;
	box-shadow:inset 0px 4px 10px 5px white;
    margin:auto;
    display:flex;	
	font-size:20px;
	font-weight:bold;
	color:#24bf46;
	cursor:pointer;}