.buttonbox{
	width:100%;
	display:flex;
	flex-wrap:wrap;
	background-color:#90EE90;
	box-shadow:inset 0px 0px 30px 28px black;
		animation-name:disp;
		animation-duration:5s;
		position:relative;
		animation-iteration-count:infinite;

}
@keyframes disp{
	from{background-color:#90EE90;}
	to{background-color:pink;}
}

.upperdiv{
	margin:0px;
	width:100%;
    text-transform:uppercase;
	letter-spacing:13px;
	word-spacing:10px;
	text-decoration:underline;
	text-shadow:0px 0px 0px blue,
	            1px 1px 0px blue,
				2px 2px 0px yellow;
	display:flex;
	flex-wrap:wrap;
    background-color:#ADD8E6;
    font-size:27px;}

.f{
	margin:4px;
	width:700px;
	display:flex;
	flex-wrap:wrap;
	background-color:green;
	letter-spacing:0px;
	word-spacing:0px;
	font-size:22px;
	box-shadow:inset 1px 0px 5px 3px white;
	text-shadow:0px 0px 0px white,
	            1px 1px 0px black,
				2px 2px 0px yellow;
text-transform:uppercase;
font-weight:bolder;
color:white;
animation-name:pa;
animation-duration:20s;
position:relative;
animation-iteration-count:infinite;
}
@keyframes pa{
0%{left:0px;top:0px;}
100%{left:45%;top:0px;background-color:purple;}
}



.paragraph{
		animation-name:para;
		animation-duration:20s;
		position:relative;
		animation-iteration-count:infinite;
		color:purple;
		font-size:20px;

}
@keyframes para{
	from{color:black;}
	to{color:red;}
}



.disclaimerbox{
	margin:0px;
	padding:0px;
    width:100%;
	height:500px;
	display:flex;
	background-color:black;
}
  
  
.disclaimerbox1{
	margin:0px;
	padding:0px;
	max-width:400px;
	min-width:250px;
	height:500px;
	margin:auto;
	background-color: #dcdc3d;
	box-shadow: 3px 10px 12px 4px pink;
}
.disclaimerbox2{
	margin:0px;
	padding:0px;
	max-width:400px;
	min-width:200px;
	height:500px;
	margin:auto;
    box-shadow: 2px 10px 20px 4px blue;
	background-color:#86dcc5;
}
.button{
	width:430px;
	height:150px;
	border:7px double #0bfc03;
	background-color:#FF9933;
	border-radius:17px;
	box-shadow:inset 0px 4px 10px 5px  #ADD8E6;
	transform:rotateX(30deg) rotateY(30);
	text-shadow:0px 0px 0px white,
	            1px 1px 0px white,
				2px 2px 0px white,
				3px 3px 0px black;	
	font-size:34px;
	font-weight:bold;
	margin-top:20px;
    margin-left:200px;
    margin-bottom:50px;
	cursor:pointer;
}
.button:hover{
	width:430px;
	height:150px;
	border:7px double #0bfc03;
	background-color:#ADD8E6;
	border-radius:15px;
	box-shadow:5px 4px 10px 5px red;
	
	font-size:34px;
	font-weight:bold;
	margin-top:20px;
    margin-left:200px;
    margin-bottom:50px;
	cursor:pointer;
	
	animation-name:btn;
	animation-duration:2s;
	position:relative;
	animation-iteration-count:infinite;
}
@keyframes btn{
	from{background-color:#ADD8E6;}
	to{background-color:#FF9933;}
	}

.quizzbtn{
	max-width:1320px;
min-width:200px;
height:500px;
border-left:7px solid red;
border-right:7px solid #15ed27;
border-top:7px solid #ed1548;
border-bottom:7px solid red;
display:flex;
background-color:red;}
	
.quizesbody{
border-left:2px solid red;
border-right:2px solid #15ed27;
border-top:2px solid #ed1548;
border-bottom:2px solid yellow;
display:flex;
margin:auto;
background-color:red;
background-image:url('https://www.kidsgen.com/quiz/images/the-ramayana-quiz.jpg');
background-size:cover;
}

.quizesbox{
	width:800px;
	height:600px;
	font-weight:35px;
	font-size:30px;
border-left:7px solid red;
border-right:7px solid #15ed27;
border-top:8px solid #ed1548;
border-bottom:8px solid yellow;
	box-shadow:20px 20px 10px 5px white;
	box-shadow:inset 0px 4px 20px 5px blue;
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6HRdIAVOlIsMyyje0MAxeeNP-VpgJGLEG5A&s');
background-size:cover;
color:white;
margin:auto;
background-color:green;}
.heading{
	width:300px;
	height:50px;
}
.option{
height:50px;
border:2px solid black;}
.nextbtn{
	width:300px;
	height:60px;
	border:1px double red;
	background-color:#2431bf;
	border-radius:8px;
	box-shadow:20px 20px 10px 5px purple;
	box-shadow:inset 0px 4px 10px 5px white;
    margin:auto;
    display:flex;	
	font-size:20px;
	font-weight:bold;
	color:#24bf46;
	cursor:pointer;}