
.buttonbox{
	width:100%;
    display:flext;
	flex-wrap:wrap;
	background-color:yellow;
}

.button{
	width:400px;
	height:100px;
	border:5px double purple;
	background-color:rgba(1, 153, 180);
	border-radius:8px;
	box-shadow:0px 4px 10px 5px purple;
	box-shadow:inset 0px 4px 10px 5px white;
	margin-top:50px;
	margin-left:150px;	
	font-size:25px;
	font-weight:bold;
	cursor:pointer;
}

.button:hover{
	width:400px;
	height:100px;
	border:5px double purple;
	background-color:rgba(1, 153, 180);
	border-radius:8px;
	box-shadow:0px 4px 10px 5px black;
	margin-top:50px;
	margin-left:150px;	
	font-size:25px;
	font-weight:bold;
	cursor:pointer;
}