
.buttonbox{
	width:100%;
     display:flex;
	 flex-wrap:wrap;
	background-color:red;
	animation-name:btn;
	position:relative;
	animation-duration:5s;
	animation-iteration-count:infinite;
}
@keyframes btn{
	from{background-color:red;}
	to{background-color:rgba(1, 153, 180);}
}

.button{
	width:400px;
	height:130px;
	border:6px double purple;
	background-color:rgba(1, 153, 180);
	border-radius:14px;
	box-shadow:0px 4px 10px 5px white;
	margin-bottom:40px;
	margin-top:50px;
	margin-left:180px;
	font-size:30px;
	font-weight:bold;
	
	cursor:pointer;
}

.button:hover{
	width:400px;
	height:130px;
	border:6px double purple;
	background-color:rgba(1, 153, 180);
	border-radius:14px;
	box-shadow:0px 4px 10px 5px purple;
	box-shadow:inset 0px 4px 10px 5px white;
	margin-bottom:40px;
	margin-top:50px;
	margin-left:170px;
	font-size:30px;
	font-weight:bold;
	
	cursor:pointer;
}