.balkand{
	margin:0px;
	padding:0px;
	width:100%;
	height:1000px;
    display:flex;
    margin:center;
    background-color:#849701;}
	
.buttonbox{
	width:100%;
    height:1300px;
    margin:auto;
	margin-top:50px;
	    background-color:red;
}

.button{
	width:300px;
	height:100px;
	border:6px double purple;
	background-color:rgba(1, 153, 180);
	border-radius:8px;
	box-shadow:0px 4px 10px 5px purple;
	box-shadow:inset 0px 4px 10px 5px white;
	margin-bottom:50px;
	margin-top:20px;
	margin-left:20px;
	font-size:20px;
	font-weight:bold;
	
	cursor:pointer;
}