.navbar{  width:100%;
          height:50px;
background-color:red;
display:flex;}

.navbox{width:160px;
        height:46px;
	    border-radius:8px; 
		margin-left:15px;
		border:2px double black;
			box-shadow:inset 0px 4px 10px 5px pink;
       }

.btndiv{
    display:flext;
    margin-left:13px;
    margin-top:13px;
	background-color:rad;
	background-image:url("https://www.vecteezy.com/vector-art/14007816-happy-dussehra-celebration-card-lord-rama-killed-ravana");
}
.btn{
	width:300px;
	height:60px;
	border:1px double red;
	background-color:#2431bf;
	border-radius:8px;
	box-shadow:20px 20px 10px 5px purple;
	box-shadow:inset 0px 4px 10px 5px white;
	margin-bottom:20px;	
	margin-left:20px;	
	font-size:20px;
	font-weight:bold;
	color:#24bf46;
	cursor:pointer;
}
.btn:hover{
	width:300px;
	height:60px;
	border:1px double purple;
	background-color:#29bf24;
	border-radius:8px;
	box-shadow:0px 4px 10px 5px purple;
	box-shadow:inset 0px 4px 10px 5px white;
	margin-bottom:20px;	
	margin-left:20px;	
	font-size:20px;
	font-weight:bold;
	color:red;
	cursor:pointer;
}
.box{width:100%;
      height:1930px;
    display:flext;
    margin-left:13px;
    margin-top:13px;
	alignment:center;
	background-color:#23fh;
	animation-name:btn;
	position:relative;
	animation-duration:10s;
	animation-iteration-count:infinite;
}
@keyframes btn{
	from{background-color:#3F51B5;}
	to{background-color:rgba(1, 153, 180);}
}